* {
    margin: 0;
    padding: 0;
    text-transform: capitalize;
}

.navbar {
    background-image: url("./assets/burger.jpg");
    height: 1000px;
    display: flex;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.nav-logo {
    padding: 20px;

}

.items {

    display: flex;
    font-size: 3rem;
    gap: 150px;
    padding-left: 200px;
    padding-top: 40px;


}

.items a {
    text-decoration: none;
    color: white;
}

.section {
    display: flex;
    justify-content: space-evenly;
    height: 600px;
}

.span_ {
    text-align: center;
    font-size: 3rem;
}

#spa {
    font-size: medium;
    height: 30px;
    width: 200px;
    background-color: red;
    text-align: center;
     display: inline-block;
    color: white;
}